.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

docs/_build
docs/doctrees

build
node_modules
npm-debug.log
ios
./android
yarn-error.log
.node-cache

scratch/

*.pyc

.idea
*.sublime-*

sentry.properties
dist/
dist-bin/
# npm package
*.tgz
coverage/
plugins

.eslintcache
.vscode/launch.json

package-lock.json

.env

.sentryclirc
