name: 'Build & Test'
on:
  push:
    branches:
      - master
      - release/**
  pull_request:

jobs:
  job_build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version-file: 'package.json'
          cache: 'yarn'
      - name: Install dependencies with yarn
        run: yarn install --frozen-lockfile --ignore-engines
      - name: Build
        run: yarn build
      - name: Pack
        run: yarn pack
      - name: Archive Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: ${{ github.sha }}
          path: |
            ${{ github.workspace }}/*.tgz

  job_lint:
    name: Lint
    needs: job_build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version-file: 'package.json'
          cache: 'yarn'
      - name: Install dependencies with yarn
        run: yarn install --frozen-lockfile --ignore-engines
      - name: Run Linter
        run: yarn lint

  job_test:
    name: Node (${{ matrix.node }}) Unit Tests
    needs: job_build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: [14, 16, 18, 20]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version-file: 'package.json'
          cache: 'yarn'
      - name: Install dependencies with yarn
        run: yarn install --frozen-lockfile --ignore-engines
      - name: Run Unit Tests
        env:
          NODE_VERSION: ${{ matrix.node }}
        run: yarn test
